<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/note/<% if (editing) { %>edit-note<% } else { %>add-note<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= note.title %><% } %>">
            </div>            
            <div class="form-control">
                <label for="text">Text</label>
                <textarea name="text" id="text" rows="5"><% if (editing) { %><%= note.text %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= note._id %>" name="noteId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update Note<% } else { %>Add Note<% } %></button>

            <ul>
                <% if (categories) { %>
                    <% for (let category of categories) { %>
                    <li><%= category.name %></li>
                    <% } %>
                <% } %>
            </ul>

        </form>
    </main>
</body>
</html>