<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <a href="/note/add-note" class="btn">New note</a>
        <br>

        <% for (let note of notes) { %>
            Title: <%= note.title %><br/>
            Text: <%= note.text %><br/>
            <a href="/note/edit-note/<%= note._id %>" class="btn">Edit note</a>
            <br/>
        <% } %>        
    </main>
</body>
</html>